.card {
    background-color: white;
    height: 350px;
    width: 500px;
    justify-items: center;
    display: flex;
    position: relative;
    left:30%;
    margin-top: 100px;
    border: 2px solid gray ;
    
}
.content {
    margin-top: 0px;
    background-color: rgb(113, 113, 235);
    width: 500px;
    height: 90px;

}

.content > img {
    height: 90px;
    position: absolute;
    margin: 50px ;
    border: 3px solid rgb(234, 234, 241);
}

img.img1 {
    border-radius: 50px;
}

img.img2{
    height: 20px;
    width: 10px;
    position: absolute ;
    left: 55px ;
    top:185px;
    

}
img.img3{
    height: 15px;
    width: 15px;
    position: absolute ;
    left: 50px;
    bottom: 45px;
}
.text1{
    position: relative;
    left: 55px ;
    top:150px ;
    font-size: 30px;
    font-family: sans-serif;
}

.text2{
    position: relative; 
    left: 70px ; 
    top:153px;
    font-size: 18px;
    font-family: serif;
    font-weight:bold;
}
.text3{
    position: relative; 
    left: 55px ;
    top:190px ;
    font-size: 14px;
    font-family: serif; 
    font-weight:bold;
}
.link{
    position: relative;
    left: 70px ;
    top:200px;
    font-size: 13px;
    font-family: serif;
    font-weight:bold;
}


